.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 15px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
}

.nav__notification {
  font-size: 14px;
  color: white;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 21px;
}
